{{>layout/header}}

<h1>활동 등록</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="ACT_ID">활동명</label>
                <input type="text" class="form-control" id="ACT_ID" placeholder="* 필수 입력">
            </div>

            <div class="form-group">
                <label for="ACT_NAME">주최사</label>
                <input type="text" class="form-control" id="ACT_NAME" placeholder="* 필수 입력">
            </div>

            <div class="form-group">
                <label for="ORGANIZER_MANAGE">주관사</label>
                <input type="text" class="form-control" id="ORGANIZER_MANAGE" placeholder="* 필수 입력">
            </div>

            <div class="form-group">
                <label for="TAG">분야 선택</label>
                <input type="text" class="form-control" id="TAG" placeholder="* 필수 입력">
            </div>

            <div class="form-group">
                <label for="START_PERIOD">접수 기간 (부터)</label>
                <input type="text" class="form-control" id="START_PERIOD" placeholder="* 필수 입력">
            </div>

            <div class="form-group">
                <label for="END_PERIOD">접수 기간 (까지)</label>
                <input type="text" class="form-control" id="END_PERIOD" placeholder="* 필수 입력">
            </div>

            <div class="form-group">
                <label for="CONTENT">내용</label>
                <textarea class = "form-control" id="CONTENT"> </textarea>
            </div>

            <div class="form-group">
                <label for="PRICE">가격</label>
                <input type="text" class="form-control" id="PRICE">
            </div>

            <div class="form-group">
                <label for="POSTER">포스터</label>
                <input type="text" class="form-control" id="POSTER">
            </div>

            <div class="form-group">
                <label for="FILE">첨부파일</label>
                <input type="text" class="form-control" id="FILE">
            </div>

            <div class="form-group">
                <label for="MANAGER">담당자</label>
                <input type="text" class="form-control" id="MANAGER" placeholder="* 필수 입력">
            </div>

            <div class="form-group">
                <label for="PAGE">홈페이지</label>
                <input type="text" class="form-control" id="PAGE">
            </div>

            <div class="form-group">
                <label for="PHONE_NUMBER">연락처</label>
                <input type="text" class="form-control" id="PHONE_NUMBER" placeholder="* 필수 입력">
            </div>

            <div class="form-group">
                <label for="MAX_PEOPLE">인원 수</label>
                <input type="text" class="form-control" id="MAX_PEOPLE">
            </div>

        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
    </div>
</div>

{{>layout/footer}}