<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mobileproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileProject">
        <activity android:name=".weekly">

        </activity>
        <activity android:name=".registerActivity"></activity>
        <activity
            android:name=".applyCal"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".KwangSteamed"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".KwangApplicationDetailsMain"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".KwangSearchMain"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".applyMoim"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".indetailactivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".third_fragment"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".second_fragment"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".first_fragment"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".DetailActivityActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activityCal"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".search_activity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ActivityRegistration"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ChangeInformation"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".NoticeContents"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>